html, body {
    color: #555;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
h1 {
    font-size: 2em;
}
a {
    color: orange;
}
.std-btn {
    border: 2px solid;
    border-radius: 3px;
    display: inline-block;
    margin-right: 12px;
    padding: 3px 12px;
}
.circle-btn {
    background-color: orange;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 3px 0;
    text-align: center;
    text-decoration: none;
    width: 24px;
}
#navbar {
    background-color: #444;
    color: #fff;
    height: auto;
    padding: 24px 10vw 24px 10vw;
    position: relative;
    text-align: right;
    width: 100vw;
}
#navbar ul {
    position: relative;
}
#navbar li {
    display: inline;
}
#navbar li:first-child {
    font-size: 12px;
    left: 0;
    position: absolute;
    top:-30px;
}
#navbar a {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;;
    margin-right: 12px;
    vertical-align: middle;
}
#navbar a.current_page_link {
    background-color: #666;
    border: 1px solid #999;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #00000066;
    color: #fff;
    padding: 3px 6px;
}
#container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2vh 10vw 20vh 10vw;
    width: 100vw;
}
#customer-list {
    background-color: #777;
    width: 100%;
}
.customer-row {
    color: #fff;    
    display: flex;
    flex-direction: row;
    padding: 12px;
}
.customer-row:nth-child(odd) {
    background-color: #555;
}
.row-head {
    background-color: #333 !important;
    color: #fff;
}
.customer-row div {
    justify-content: space-between;
}
form div.radio-control {
    display: inline-block;
    margin-right: 1vw;
}
label {
    display: block;
    font-weight: 500;
    margin-bottom: .5em;
}
.field {
    margin-bottom: 2em;
}
.input-group {
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: inset 1px 1px 3px #00000022;
    width: 100%;
}
.input-group  .label-sufix{
    background-color: #aaa;
    color: #fff;
    display: inline-block;
    font-size: 12pt;
    height: 100%;
    line-height: 1em;
    padding: 1em;
}
.input-group input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: calc(100% - 4em);
}
input, textarea {
    border: 1px solid #bbb;
    box-shadow: inset 1px 1px 3px #00000022;
    font-size: 12pt;
    padding: .9em;
    width: 100%;
}
input:disabled {
    background-color: #fff;
    border: none;
    box-shadow: none;
}
.input-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}
.input-container input[type="checkbox"], .input-container input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    background-color: #fff;
    border: 1px solid #bbb;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
}
.cm-round {
    border-radius: 50%;
}
.input-container:hover input ~ .checkmark {
    background-color: #ccc;
}
.input-container input:checked ~ .checkmark {
    background-color:goldenrod;
    border-color: #fff;
    box-shadow: 2px 2px 3px #00000066;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.input-container input:checked ~ .checkmark:after {
    display: block;
}
.input-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
select {
    border: 1px solid #bbb;
    box-shadow: inset 1px 1px 3px #00000022;
    padding: 1em;
    width: 100%;
}
input[type="radio"] {
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: auto; 
}
button {
    background-color: #555;
    border: 2px solid #000;
    border-radius: 9px;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    padding: .5em 3em;
}
button:hover {
    box-shadow: 9px 9px 12px #00000033;
    font-size: 1.3em;
}
.help {
    border: none !important;
    font-size: .9em;
}
.is-danger {
    border: 1px solid red;
    color: red;
}
.form-section {
    background-color: rgb(240, 245, 247);
    display: block;
    margin-top: 3vh;
    position: relative;
}
.form-section h3 {
    background-color: #bbb;
    margin: 0;
    padding: 18px;
    text-transform: uppercase;
}
.form-section p {
    margin-left: 18px;
}
.form-section .form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-section .form-row .field {
    flex-basis: 48%;
}
.inner-section {
    padding: 18px;
}
.white {
    color: #ffffff;
}
.text-shadow {
    text-shadow: 3px 3px 6px #000000aa;
}
.error {
    background-color: red;
}
input#original_initial_payment {
    width: 90%;
}
#adjust_dp span {
    background-color: #666;
    border-radius: 3px;;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0 6px;
}
#modal {
    background-color: #00000088;
    display: none;
    height: 100%;
    left: 0;
    padding: 25vh 35vw;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 900;
}
#modal #modal-content {
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 6px 6px 12px #00000066;
}
#modal #modal-close {
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    padding: 12px 18px;
    text-align: right;
}
#modal form {
    padding: 24px;
}
#modal h3 {
    margin-top: 0;
}
#modal form #inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#modal form input {
    display: block;
    flex-basis: 45%;
    margin-bottom: .7em;
}
@media ( max-width: 800px) {

    .form-section .form-row {
        flex-direction: column;
    }

    .form-section .form-row .field {
        flex-basis: 100%;
    
    }

}
#pdf-viewer {
    height: 100vh;
    width: 100%;
}

/* Loader */
#calc_now {
    display: none;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #00000066;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  